@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .active {
    @apply bg-primary-surface text-primary border-e-4 border-e-primary pointer-events-none;
  }

  .tab.tab-active {
    @apply border-b-4 pt-1;
  }

  .tab.tab-active:not(.tab-disabled):not([disabled]) {
    @apply text-primary border-primary;
  }

  .step-active > div {
    @apply bg-primary text-neutral-10;
  }

  .step-active > span {
    @apply text-primary;
  }
}

/*reqct-quill class for error and focus*/
.quill > .ql-container > .ql-editor.ql-blank::before {
  font-size: 16px;
  line-height: 24px;
  color: #9ca3af;
  font-style: normal;
}

.quill.ql-error .ql-container {
  border-left: 1px solid #ef4444;
  border-right: 1px solid #ef4444;
  border-bottom: 1px solid #ef4444;
}

.quill.ql-focus .ql-container {
  border-color: #3b82f6;
}

.checkbox {
  --chkfg: var(--b1);
}

.styled-content ul {
  list-style: disc;
  padding-left: 1.5rem;
}

.styled-content ol {
  list-style: decimal;
  padding-left: 1.5rem;
}
